body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $dark-gray;
  font-size: 16px;
}

input[type="submit"],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 1.68;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: 600;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
