$dark-gray: #363636;
$orange: #f79646;
$bg: rgb(247, 247, 247);
$gray: #474747;
$black: #171c24;

@import "reset";
@import "modal";
@import "common";

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: white;
  z-index: 100;

  &.sticky {
    position: fixed;
    animation: slideDown 0.3s ease;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 200px;
    }
    nav {
      display: flex;
    }
  }
  .nav-item {
    position: relative;
    padding: 0 18px;
    cursor: pointer;

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 70%;
      height: 1px;
      margin: 5px auto 0;
      background-color: $orange;
      transform: scaleX(0);
      transition: all 0.2s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

section.hero {
  height: calc(100vh - 64px);
  display: flex;
  article {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  aside {
    position: relative;
    flex: 3;
    perspective: 400px;
  }
  h1 {
    text-align: center;
  }
  img {
    position: absolute;
    transition: all 0.5s linear;
  }
  .hero-img-1 {
    top: 0;
    left: 0;
    box-shadow: 0 3px 14px -3px rgb(0 0 0 / 30%);
    z-index: 10;
  }
  .hero-img-2 {
    top: 0;
    right: 0;
    box-shadow: 0 3px 14px -3px rgb(0 0 0 / 30%);
    z-index: 11;
  }
  .hero-img-3 {
    bottom: 20px;
    left: 10%;
    z-index: 9;
  }
  button {
    color: #fff;
    background-color: #f79646;
    background: linear-gradient(
      100deg,
      rgb(247, 150, 70) 0%,
      rgb(249, 178, 119) 34%,
      $gray 34%,
      $black 40%,
      rgb(247, 150, 70) 40%,
      rgb(249, 178, 119) 48%,
      $gray 48%,
      $black 56%,
      rgb(247, 150, 70) 56%,
      rgb(249, 178, 119) 66%,
      $gray 66%,
      $black 100%
    );
    background-size: 300%;
    background-position: 0% 100%;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    width: 200px;
    border-radius: 55px;
    padding: 15px 35px;
    box-shadow: 0 5px 15px -5px #f79646;
    transition: all 0.3s ease-out;
    &:hover {
      background-position: 100% 0%;
      box-shadow: 0 7px 25px -5px #b15d18;
      letter-spacing: 2px;
    }
  }
}

.section-title {
  font-size: 48px;
  font-weight: 600;
}
section.info {
  background: white;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-top: 70px;
  aside {
    background-image: url("../images/grafika-grafen.png");
    background-size: cover;
    background-position: center center;
    padding-top: 96px;
  }
  .founders {
    display: flex;
    margin-top: 70px;
  }
}
.info-item {
  display: flex;
  margin-top: 70px;
  h4 {
    margin: 8px 0 5px;
    line-height: 1.3;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 700;
    color: #111;
  }
  .icon {
    padding-right: 20px;
  }
  .bx {
    font-size: 36px;
  }
}

section.leader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  aside {
    padding-top: 96px;
  }
}
.social-bar {
  grid-column: 1 / span 2;
  width: 100%;
  background: $dark-gray;
  display: flex;
  justify-content: center;
  svg {
    width: 32px;
    height: 32px;
    margin: 20px;
    path {
      fill: $orange;
      transition: fill 0.2s ease-out;
    }
    &.linkedin-icon:hover path {
      fill: #0072b1;
    }
    &.rg-icon:hover path {
      fill: #41ba9b;
    }
  }
}

section.team {
  .card {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 3px 14px -3px rgb(0 0 0 / 10%);
    transition: all 0.3s ease;
    padding: 45px 20px;
    margin-bottom: 15px;
    h2 {
      font-size: 17px;
      font-weight: 600;
    }
    h5 {
      font-size: 14px;
    }
  }
  .avatar {
    border: 4px solid rgba(161, 174, 183, 0.3);
    display: inline-block;
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }
  .person-row {
    display: flex;
    justify-content: space-around;
  }
}

.news-wrapper {
  display: flex;
  justify-content: center;
  .news-card {
    width: 300px;
    margin: 15px;
    background-color: #fff;
  }
  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    overflow: hidden;
  }
  img {
    max-width: none;
    height: 190px;
  }
  h3 {
    word-wrap: break-word;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
  }
}

section.contact {
  display: grid;
  grid-template-columns: 4fr 5fr 2fr;
  form {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }
    input,
    textarea {
      margin-bottom: 15px;
    }
    input[type="submit"] {
      color: #fff;
      background-color: #f79646;
      background: linear-gradient(
        90deg,
        rgb(247, 150, 70) 0%,
        rgb(249, 178, 119) 50%,
        $gray 5%,
        $black 100%
      );
      background-size: 200%;
      background-position: 0% 100%;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.2px;
      text-transform: capitalize;
      width: 200px;
      border-radius: 55px;
      padding: 15px 35px;
      box-shadow: 0 5px 15px -5px #f79646;
      transition: all 0.3s ease-out;
      &:hover {
        background-position: 100% 0%;
        box-shadow: 0 7px 25px -5px #b15d18;
      }
    }
  }
}

.form-col {
  padding: 0 25px 25px;
}

.contact-info-col {
  background: $dark-gray;
  color: white;
  padding: 50px 4px 0 25px;

  p {
    font-size: 15px;
    color: white;
  }

  h3 {
    font-size: 29px;
    margin: 0;
    color: white;
  }

  h4 {
    font-size: 23px;
    margin: 0;
    margin-bottom: 70px;
    color: white;
  }
  .contact-item {
    margin-bottom: 70px;
  }
  .heading {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-bottom: 10px;

    i {
      margin-right: 5px;
    }
  }
}

#map-container {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: $dark-gray;
  padding: 40px;
  margin-top: 100px;

  img {
    width: 250px;
  }
  .line {
    display: inline-block;
    width: 350px;
    height: 1px;
    background: #fff;
    margin: 30px;
  }
}
